<div class="h-screen flex flex-col">
    <app-header></app-header>

    <div class="flex flex-grow flex-row overflow-hidden">
        <app-sidebar></app-sidebar>
        <!-- <aside class="flex-none w-64 bg-sky-300 box-border m-2 p-2 shadow shadow-slate-400 overflow-auto">サイドバー</aside> -->
        <div class="flex flex-grow flex-col bg-sky-300 my-2 p-2  overflow-auto">
            <router-outlet></router-outlet>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
            <div>fdskfjfdkfjdfdk</div>
        </div>
    </div>
</div>